<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
{% load static %}

{% block title %}{{title}}{% endblock %}
{% block content %}

<div class="container">
        <table class="table table-hover">
         <thead class="thead-dark">
           <tr>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
           </tr>
         </thead>
         <tbody>
{% for blog in blogs %}
<!--<a href="{% url 'blog:detail' blog.id %}">-->
    <tr>
     <td><img src="{{ blog.image.url }}" height="50px" width="50px"></td>
   
<td>{{ blog.title }}</td>
<td> {{ blog.date|date:'M d Y'|upper }} </td>
<td>  {{ blog.short_description }} </td>
<td> {{ blog.long_description|striptags|truncatechars:100 }} </td>


</tr>

{% endfor %}
</tbody>
</table>
    </div>
  </main>
</div>
</div>
{% endblock content %}
