{%load static %} {%include 'website/include/layout.html'%}
{%include 'website/include/header.html'%}
<div class="wraper"> 
<!-- ====== Banner Start ====== -->
<section id="inner-banner" class="index-2">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="inner-heading">
          <h2>About Us</h2>
          <div class="separator left-align">
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="index-2.html" title="Home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Banner End ====== --> 
  
  <!-- ====== About Content Start ====== -->
  <section id="about-us-inner" class="index-2">
    <div class="container">
     <h2 class="d-none">Heading</h2>
      <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-area"> <img class="img-area" src="{%static 'img/about_us_2.jpg'%}" alt="About" /> </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
            <div class="about-heading">Providing best business solution for growing your business</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum pCassages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== About Content End ====== --> 
  
  
  <!-- ====== Qualities Start ====== -->
  <section id="qualities" class="index-2">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="content">
          <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
          <div class="icon"><i class="flat flaticon-reward"></i></div>
          <div class="heading">
            <h5>We are Professional</h5>
          </div>
          <div class="description">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
          <div class="icon"><i class="flat flaticon-certificate"></i></div>
          <div class="heading">
            <h5>Licensed and Certified</h5>
          </div>
          <div class="description">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
          <div class="icon"><i class="flat flaticon-enterprise"></i></div>
          <div class="heading">
            <h5>Number 1 Company</h5>
          </div>
          <div class="description">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
          <div class="icon"><i class="flat flaticon-working-team"></i></div>
          <div class="heading">
            <h5>Leading Provider</h5>
          </div>
          <div class="description">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
          </div>
        </div>
      </div></div>
    </div>
    </div>
  </section>
  <!-- ====== Qualities End ====== --> 
  
  
  <!-- ====== About Details Start ====== -->
  <section id="about-detail" class="index-2">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mid-content">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-area"> <img src="{%static 'img/why-choose-us.jpg'%}" alt="Why Choose Us" /> </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
            <div class="section_heading">
              <div class="number">01</div>
              <h4>Why <span>Choose Us?</span></h4>
               <div class="separator left-align ">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
            </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mid-content">
        <div class="row row-reverse">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-area"> <img src="{%static 'img/our-mission.jpg'%}" alt="Our Mission" /> </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
            <div class="section_heading">
              <div class="number">02</div>
              <h4>Our <span>Mission</span></h4>
               <div class="separator left-align ">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
            </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mid-content">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-area"> <img src="{%static 'img/our-vision.jpg'%}" alt="Our Mission" /> </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
            <div class="section_heading">
              <div class="number">03</div>
              <h4>Our <span>Vision</span></h4>
               <div class="separator left-align ">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
            </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== About Details End ====== --> 
  
  <!-- ====== Counter Start ====== -->
  <section id="counter" class="counter-inner">
    <div class="container">
      <div class="col-lg-12">
        <div class="row">
          <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="count_icon"> <i class="flat flaticon-happiness"></i> </div>
            <div class="counter_content">
              <h2><span class="counter">200</span>+</h2>
              <div class="title">Happy Client</div>
            </div>
          </div>
          <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="count_icon"> <i class="flat flaticon-coffee-cup"></i> </div>
            <div class="counter_content">
              <h2><span class="counter">750</span>+</h2>
              <div class="title">Cups of Coffee</div>
            </div>
          </div>
          <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="count_icon"> <i class="flat flaticon-like"></i> </div>
            <div class="counter_content">
              <h2><span class="counter">1800</span>+</h2>
              <div class="title">Projects Done</div>
            </div>
          </div>
          <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="count_icon"> <i class="flat flaticon-building"></i> </div>
            <div class="counter_content">
              <h2><span class="counter">15</span></h2>
              <div class="title">Office Locations</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </section>
  <!-- ====== Counter End ====== --> 
    
    <!-- ====== Team Start ====== -->
    <section id="our_team" class="index-2">
      <div class="container">
        <div class="section_heading">
          <h2>Our <span>Team</span></h2>
          <div class="separator">
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="heading_content">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
          <div class="team-slider owl-one owl-carousel owl-theme">
            <div class="item">
              <div class="client_dp"> <img src="{%static 'img/team-member-pic.jpg'%}" alt="Team" /> </div>
              <div class="team-card">
                <div class="name_designation">
                  <h5><a href="team-member-detail.html">Alec Thompson</a></h5>
                  <span>Developer</span> </div>
                <div class="description">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="social_links">
                  <ul>
                    <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                    <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="client_dp"> <img src="{%static 'img/team-member-pic3.jpg'%}" alt="Team" /> </div>
              <div class="team-card">
                <div class="name_designation">
                  <h5><a href="team-member-detail.html">Tania Andrew</a></h5>
                  <span>Designer</span> </div>
                <div class="description">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="social_links">
                  <ul>
                    <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                    <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="client_dp"> <img src="{%static 'img/team-member-pic4.jpg'%}" alt="Team" /> </div>
              <div class="team-card">
                <div class="name_designation">
                  <h5><a href="team-member-detail.html">Christian Mike</a></h5>
                  <span>Developer</span> </div>
                <div class="description">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="social_links">
                  <ul>
                    <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                    <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="client_dp"> <img src="{%static 'img/team-member-pic2.jpg'%}" alt="Team" /> </div>
              <div class="team-card">
                <div class="name_designation">
                  <h5><a href="team-member-detail.html">Rebecca Stormville</a></h5>
                  <span>Designer</span> </div>
                <div class="description">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="social_links">
                  <ul>
                    <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                    <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
             <div class="item">
              <div class="client_dp"> <img src="{%static 'img/team-member-pic.jpg'%}" alt="Team" /> </div>
              <div class="team-card">
                <div class="name_designation">
                  <h5><a href="team-member-detail.html">Alec Thompson</a></h5>
                  <span>Developer</span> </div>
                <div class="description">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="social_links">
                  <ul>
                    <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                    <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="client_dp"> <img src="{%static 'img/team-member-pic3.jpg'%}" alt="Team" /> </div>
              <div class="team-card">
                <div class="name_designation">
                  <h5><a href="team-member-detail.html">Tania Andrew</a></h5>
                  <span>Designer</span> </div>
                <div class="description">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="social_links">
                  <ul>
                    <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                    <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="client_dp"> <img src="{%static 'img/team-member-pic4.jpg'%}" alt="Team" /> </div>
              <div class="team-card">
                <div class="name_designation">
                  <h5><a href="team-member-detail.html">Christian Mike</a></h5>
                  <span>Developer</span> </div>
                <div class="description">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="social_links">
                  <ul>
                    <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                    <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="client_dp"> <img src="{%static 'img/team-member-pic2.jpg'%}" alt="Team" /> </div>
              <div class="team-card">
                <div class="name_designation">
                  <h5><a href="team-member-detail.html">Rebecca Stormville</a></h5>
                  <span>Designer</span> </div>
                <div class="description">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="social_links">
                  <ul>
                    <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                    <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                    <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>
   <!-- ====== Team End ====== -->
  </div>
</div>
  {%include 'website/include/footer.html'%}