{%load static %} {%include 'website/include/layout.html'%}

{%include 'website/include/header.html'%}
<div class="wraper"> 
 <!-- ====== Slider Start ====== -->
 <div class="slider index-3">
    

  <div class="owl-main owl-carousel owl-theme">

     <div class="item"> 
     <img class="d-block w-100" src="{%static 'img/slide-1.jpg'%}" alt="First slide">

      <div class="caption d-md-block">
     <div class="display">Think Big Do Creative Grow Business </div>
     <div class="content">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
     <a href="about-us-3.html" class="view_more" title="View More">View More</a>
     <a href="contact-us-1.html" class="view_more contact_us" title="Contact Us">Contact Us</a>
     </div>

     </div>


     <div class="item"> 
     <img class="d-block w-100" src="{%static 'img/slide-2.jpg'%}" alt="Second slide">
     <div class="caption d-md-block">
     <div class="display">Give Wings To Your Business </div>
     <div class="content">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
     <a href="about-us-3.html" class="view_more" title="View More">View More</a>
     <a href="contact-us-1.html" class="view_more contact_us" title="Contact Us">Contact Us</a>
     </div>

     </div>


     <div class="item"> 
     <img class="d-block w-100" src="{%static 'img/slide-3.jpg'%}" alt="Third slide">
     <div class="caption d-md-block">
     <div class="display">We Are Your Digital Partners </div>
     <div class="content">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
     <a href="about-us-3.html" class="view_more" title="View More">View More</a>
     <a href="contact-us-1.html" class="view_more contact_us" title="Contact Us">Contact Us</a>
     </div>

     </div>


     <div class="item"> 
     <img class="d-block w-100" src="{%static 'img/slide-4.jpg'%}" alt="Fourth slide">
     <div class="caption d-md-block">
     <div class="display">We Are Bizler We Make Brands Shine </div>
     <div class="content">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
     <a href="about-us-3.html" class="view_more" title="View More">View More</a>
     <a href="contact-us-1.html" class="view_more contact_us" title="Contact Us">Contact Us</a>
     </div>
     </div>   
         

     </div>



</div>

<!-- ====== Slider End ====== --> 


<!-- ====== Qualities Start ====== -->
 <section id="qualities" class="index-3">
 <div class="container">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="content">
 <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
 <div class="icon"><i class="flat flaticon-reward"></i></div>
 <div class="heading">
 <h5>We are Professional</h5>
 </div>
 <div class="description">
 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
 </div>
 </div>
 <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
 <div class="icon"><i class="flat flaticon-certificate"></i></div>
 <div class="heading">
 <h5>Licensed and Certified</h5>
 </div>
 <div class="description">
 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
 </div>
 </div>
 <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
 <div class="icon"><i class="flat flaticon-enterprise"></i></div>
 <div class="heading">
 <h5>Number 1 Company</h5>
 </div>
 <div class="description">
 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
 </div>
 </div>
 <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
 <div class="icon"><i class="flat flaticon-working-team"></i></div>
 <div class="heading">
 <h5>Leading Provider</h5>
 </div>
 <div class="description">
 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
 </div>
 </div>
 
 </div>
 </div>
 </div>

</section>
<!-- ====== Qualities End ====== --> 
<!-- ====== About Us Start ====== -->
<section id="about-us" class="index-3">
 <div class="container">
   <div class="section_heading">
     <h1>About <span>Us</span></h1>
     <div class="separator">
       <ul>
         <li></li>
         <li></li>
         <li></li>
       </ul>
     </div>
     <div class="heading_content"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
   </div>
   <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
     <div class="row row-safari">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-area"> <img class="img_sec" src="{%static 'img/about_us_2.jpg'%} " alt="About" /> </div>
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
         <h5>Providing best business solution for growing your business</h5>
         <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
         <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
         <a class="defualt-button view_more" href="about-us.html">View More</a> </div>
     </div>
   </div>
 </div>
</section>
<!-- ====== About Us End ====== --> 

<!-- ====== Services Start ====== -->
<section id="blog_post" class="index-3">
  <div class="container">
    <div class="section_heading">
      <h2>Services <span>Posts</span></h2>
      <div class="separator">
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="heading_content"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
      <div class="blog-slider owl-five owl-carousel owl-theme">
        <div class="item blog_card">
          <div class="post-img"> <img src="{%static 'img/blog-post-1.jpg'%}" alt="Post" />
            <div class="posted_on"> <span class="date">04</span> <span class="month">Sept.</span> </div>
          </div>
          <div class="post-detail">
            <h5><a href="blog-detail.html">Standard is simply dummy text of the printing and typesetting.</a></h5>
            <div class="post-status">
              <ul>
                <li><i class="flat flaticon-folder"></i> <span><a href="javascript:void(0)">UI Developer</a></span></li>
                <li><i class="flat flaticon-chat"></i> <span>20</span></li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="item blog_card">
          <div class="post-img"> <img src="{%static 'img/blog-post-2.jpg'%}" alt="Post" />
            <div class="posted_on"> <span class="date">05</span> <span class="month">Sept.</span> </div>
          </div>
          <div class="post-detail">
            <h5> <a href="blog-detail.html">If you are going to use a passage of Lorem Ipsum, you need to be sure.</a></h5>
            <div class="post-status">
              <ul>
                <li><i class="flat flaticon-folder"></i> <span><a href="javascript:void(0)">UI Developer</a></span></li>
                <li><i class="flat flaticon-chat"></i> <span>20</span></li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="item blog_card">
          <div class="post-img"> <img src="{%static 'img/blog-post-3.jpg'%}" alt="Post" />
            <div class="posted_on"> <span class="date">06</span> <span class="month">Sept.</span> </div>
          </div>
          <div class="post-detail">
            <h5><a href="blog-detail.html">There are many variations of passages of Lorem Ipsum available</a></h5>
            <div class="post-status">
              <ul>
                <li><i class="flat flaticon-folder"></i> <span><a href="javascript:void(0)">UI Developer</a></span></li>
                <li><i class="flat flaticon-chat"></i> <span>20</span></li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
         <div class="item blog_card">
          <div class="post-img"> <img src="{%static 'img/blog-post-1.jpg'%}" alt="Post" />
            <div class="posted_on"> <span class="date">07</span> <span class="month">Sept.</span> </div>
          </div>
          <div class="post-detail">
            <h5><a href="blog-detail.html">Standard is simply dummy text of the printing and typesetting.</a></h5>
            <div class="post-status">
              <ul>
                <li><i class="flat flaticon-folder"></i> <span><a href="javascript:void(0)">UI Developer</a></span></li>
                <li><i class="flat flaticon-chat"></i> <span>20</span></li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="item blog_card">
          <div class="post-img"> <img src="{%static 'img/blog-post-2.jpg'%}" alt="Post" />
            <div class="posted_on"> <span class="date">08</span> <span class="month">Sept.</span> </div>
          </div>
          <div class="post-detail">
            <h5> <a href="blog-detail.html">If you are going to use a passage of Lorem Ipsum, you need to be sure.</a></h5>
            <div class="post-status">
              <ul>
                <li><i class="flat flaticon-folder"></i> <span><a href="javascript:void(0)">UI Developer</a></span></li>
                <li><i class="flat flaticon-chat"></i> <span>20</span></li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="item blog_card">
          <div class="post-img"> <img src="{%static 'img/blog-post-3.jpg'%}" alt="Post" />
            <div class="posted_on"> <span class="date">09</span> <span class="month">Sept.</span> </div>
          </div>
          <div class="post-detail">
            <h5><a href="blog-detail.html">There are many variations of passages of Lorem Ipsum available</a></h5>
            <div class="post-status">
              <ul>
                <li><i class="flat flaticon-folder"></i> <span><a href="javascript:void(0)">UI Developer</a></span></li>
                <li><i class="flat flaticon-chat"></i> <span>20</span></li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        
        
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
 </section>
<!-- ====== Services End ====== --> 

<!-- ====== Team Start ====== -->
<!-- ====== Team Start ====== -->
<section id="our_team" class="index-2">
  <div class="container">
    <div class="section_heading">
      <h2>Our <span>Team</span></h2>
      <div class="separator">
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="heading_content">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
      <div class="team-slider owl-one owl-carousel owl-theme">
        <div class="item">
         <div class="client_dp"> <img src="{%static 'img/team-member-pic.jpg'%}" alt="Team" /> </div>
          <div class="team-card">
            <div class="name_designation">
              <h5><a href="team-member-detail.html">Alec Thompson</a></h5>
              <span>Developer</span> </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="social_links">
              <ul>
                <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
              </ul>
            </div>
       </div>
     
        </div>
        <div class="item">
          
          <div class="client_dp"> <img src="{%static 'img/team-member-pic3.jpg'%}" alt="Team" /> </div>
          <div class="team-card">
            <div class="name_designation">
              <h5><a href="team-member-detail.html">Tania Andrew</a></h5>
              <span>Designer</span> </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="social_links">
              <ul>
                <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        
        </div>
        <div class="item">
          
          <div class="client_dp"> <img src="{%static 'img/team-member-pic4.jpg'%}" alt="Team" /> </div>
          <div class="team-card">
            <div class="name_designation">
              <h5><a href="team-member-detail.html">Christian Mike</a></h5>
              <span>Developer</span> </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="social_links">
              <ul>
                <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
              </ul>
            </div>
    
          </div>
        
        </div>
        <div class="item">
          
          <div class="client_dp"> <img src="{%static 'img/team-member-pic2.jpg'%}" alt="Team" /> </div>
          <div class="team-card">
            <div class="name_designation">
              <h5><a href="team-member-detail.html">Rebecca Stormville</a></h5>
              <span>Designer</span> </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="social_links">
              <ul>
                <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
              </ul>
            </div>
      
          </div>
        
        </div>
         <div class="item">
          
          <div class="client_dp"> <img src="{%static 'img/team-member-pic.jpg'%}" alt="Team" /> </div>
          <div class="team-card">
            <div class="name_designation">
              <h5><a href="team-member-detail.html">Alec Thompson</a></h5>
              <span>Developer</span> </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="social_links">
              <ul>
                <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
              </ul>
            </div>
       </div>
     
        </div>
        <div class="item">

          <div class="client_dp"> <img src="{%static 'img/team-member-pic3.jpg'%}" alt="Team" /> </div>
          <div class="team-card">
            <div class="name_designation">
              <h5><a href="team-member-detail.html">Tania Andrew</a></h5>
              <span>Designer</span> </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="social_links">
              <ul>
                <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        
        </div>
        <div class="item">

          <div class="client_dp"> <img src="{%static 'img/team-member-pic4.jpg'%}" alt="Team" /> </div>
          <div class="team-card">
            <div class="name_designation">
              <h5><a href="team-member-detail.html">Christian Mike</a></h5>
              <span>Developer</span> </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="social_links">
              <ul>
                <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
              </ul>
            </div>
    
          </div>
        
        </div>
        <div class="item">

          <div class="client_dp"> <img src="{%static 'img/team-member-pic2.jpg'%}" alt="Team" /> </div>
          <div class="team-card">
            <div class="name_designation">
              <h5><a href="team-member-detail.html">Rebecca Stormville</a></h5>
              <span>Designer</span> </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="social_links">
              <ul>
                <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
              </ul>
            </div>
      
          </div>
        
        </div>
        <div class="item">
          
          <div class="client_dp"> <img src="{%static 'img/team-member-pic.jpg'%}" alt="Team" /> </div>
          <div class="team-card">
            <div class="name_designation">
              <h5><a href="team-member-detail.html">Alec Thompson</a></h5>
              <span>Developer</span> </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="social_links">
              <ul>
                <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
              </ul>
            </div>
       </div>
     
        </div>
        <div class="item">

          <div class="client_dp"> <img src="{%static 'img/team-member-pic3.jpg'%}" alt="Team" /> </div>
          <div class="team-card">
            <div class="name_designation">
              <h5><a href="team-member-detail.html">Tania Andrew</a></h5>
              <span>Designer</span> </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="social_links">
              <ul>
                <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        
        </div>
        <div class="item">

          <div class="client_dp"> <img src="{%static 'img/team-member-pic4.jpg'%}" alt="Team" /> </div>
          <div class="team-card">
            <div class="name_designation">
              <h5><a href="team-member-detail.html">Christian Mike</a></h5>
              <span>Developer</span> </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="social_links">
              <ul>
                <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
              </ul>
            </div>
    
          </div>
        
        </div>
        <div class="item">

          <div class="client_dp"> <img src="{%static 'img/team-member-pic2.jpg'%}" alt="Team" /> </div>
          <div class="team-card">
            <div class="name_designation">
              <h5><a href="team-member-detail.html">Rebecca Stormville</a></h5>
              <span>Designer</span> </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="social_links">
              <ul>
                <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
              </ul>
            </div>
      
          </div>
        
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
<!-- ====== Team End ====== --> 

<!-- ====== Portfolio Start ====== -->
<section id="portfolio" class="index-3">
 <div class="container">
   <div class="section_heading">
     <h2>Portfolio</h2>
     <div class="separator">
       <ul>
         <li></li>
         <li></li>
         <li></li>
       </ul>
     </div>
     <div class="heading_content"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
   </div>
   <div class="col-lg-12 col-md-12 col-xs-12 content_sec ">
     <div class="portfolio-sort">
       <ul class="sorting clearfix center-grid">
         <li class="sort-btn active" data-filter="*">All</li>
         <li class="sort-btn" data-filter=".design">Web Design</li>
         <li class="sort-btn" data-filter=".development">Web Development</li>
         <li class="sort-btn" data-filter=".logo">Logo Design</li>
         <li class="sort-btn" data-filter=".app">App Design</li>
       </ul>
     </div>
  <div class="row portfolio-gallary">
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                     <div class="project portfolio-inner">
                         <img src="{%static 'img/portfolio/thumbnail/project_1.jpg'%}" alt="project">
                         <div class="label">
                             <div class="label-text"> <a href="portfolio-detail.html" class="text-title">Photography</a> </div>
                             <div class="label-bg"></div>
                         </div>
                         <div class="zoom"> <a href="{%static 'img/portfolio/large/project_1.jpg'%}" class="popup-box"  data-lightbox="image" data-title="Project"> <i class="flat flaticon-magnifying-glass"></i> </a> </div>
                     </div>
                 </div>

                 <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item app logo">
                     <div class="project portfolio-inner">
                         <img src="{%static 'img/portfolio/thumbnail/project_2.jpg'%}" alt="project">
                         <div class="label">
                             <div class="label-text"> <a href="portfolio-detail.html" class="text-title">Ecommerce</a> </div>
                             <div class="label-bg"></div>
                         </div>
                         <div class="zoom"> <a href="{%static 'img/portfolio/large/project_2.jpg'%}" class="popup-box"  data-lightbox="image" data-title="Project"> <i class="flat flaticon-magnifying-glass"></i> </a> </div>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item development logo">
                     <div class="project portfolio-inner">
                         <img src="{%static 'img/portfolio/thumbnail/project_3.jpg'%}" alt="project">
                         <div class="label">
                             <div class="label-text"> <a href="portfolio-detail.html" class="text-title">Education</a>
                             </div>
                             <div class="label-bg"></div>
                         </div>
                         <div class="zoom"> <a href="{%static 'img/portfolio/large/project_3.jpg'%}" class="popup-box"  data-lightbox="image" data-title="Project"> <i class="flat flaticon-magnifying-glass"></i> </a> </div>
                     </div>
                 </div>

                 <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development logo">
                     <div class="project portfolio-inner">
                         <img src="{%static 'img/portfolio/thumbnail/project_4.jpg'%}" alt="project">
                         <div class="label">
                             <div class="label-text"> <a href="portfolio-detail.html" class="text-title">Real Estate</a> </div>
                             <div class="label-bg"></div>
                         </div>
                         <div class="zoom"> <a href="{%static 'img/portfolio/large/project_4.jpg'%}" class="popup-box"  data-lightbox="image" data-title="Project"> <i class="flat flaticon-magnifying-glass"></i> </a> </div>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item app web development">
                     <div class="project portfolio-inner">
                         <img src="{%static 'img/portfolio/thumbnail/project_5.jpg '%}" alt="project">
                         <div class="label">
                             <div class="label-text"> <a href="portfolio-detail.html" class="text-title">Bar & Restaurant</a></div>
                             <div class="label-bg"></div>
                         </div>
                         <div class="zoom"> <a href="{%static 'img/portfolio/large/project_5.jpg'%}" class="popup-box"  data-lightbox="image" data-title="Project"> <i class="flat flaticon-magnifying-glass"></i> </a> </div>
                     </div>
                 </div>
                   <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                     <div class="project portfolio-inner">
                         <img src="{%static 'img/portfolio/thumbnail/project_6.jpg'%}" alt="project">
                         <div class="label">
                             <div class="label-text"> <a href="portfolio-detail.html" class="text-title">Saloon & Spa</a></div>
                             <div class="label-bg"></div>
                         </div>
                         <div class="zoom"> <a href="{%static 'img/portfolio/large/project_6.jpg '%}" class="popup-box"  data-lightbox="image" data-title="Project"> <i class="flat flaticon-magnifying-glass"></i> </a> </div>
                     </div>
                 </div>
             </div>
             
   </div>
 </div>
 <div class="overlay"></div>
</section>

<!-- ====== Portfolio End ====== --> 

<!-- ====== Counter Start ====== -->
<section id="counter" class="index-3 gray_bg">
 <div class="container">
   <div class="col-lg-12">
     <div class="row row-safari">
       <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
         <div class="count_icon"> <i class="flat flaticon-happiness"></i> </div>
         <div class="counter_content">
           <h2><span class="counter">200</span>+</h2>
           <div class="title">Happy Client</div>
         </div>
       </div>
       <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
         <div class="count_icon"> <i class="flat flaticon-coffee-cup"></i> </div>
         <div class="counter_content">
           <h2><span class="counter">750</span>+</h2>
           <div class="title">Cups of Coffee</div>
         </div>
       </div>
       <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
         <div class="count_icon"> <i class="flat flaticon-like"></i> </div>
         <div class="counter_content">
           <h2><span class="counter">1800</span>+</h2>
           <div class="title">Projects Done</div>
         </div>
       </div>
       <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
         <div class="count_icon"> <i class="flat flaticon-building"></i> </div>
         <div class="counter_content">
           <h2><span class="counter">15</span></h2>
           <div class="title">Office Locations</div>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>
<!-- ====== Counter End ====== --> 

<!-- ====== Blog Start ====== -->

<section id="blog_post" class="index-3">
 <div class="container">
   <div class="section_heading">
     <h2>Blog <span>Posts</span></h2>
     <div class="separator">
       <ul>
         <li></li>
         <li></li>
         <li></li>
       </ul>
     </div>
     <div class="heading_content"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
   </div>
   <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
     <div class="blog-slider owl-five owl-carousel owl-theme">
       <div class="item blog_card">
         <div class="post-img"> <img src="{%static 'img/blog-post-1.jpg'%}" alt="Post" />
           <div class="posted_on"> <span class="date">04</span> <span class="month">Sept.</span> </div>
         </div>
         <div class="post-detail">
           <h5><a href="blog-detail.html">Standard is simply dummy text of the printing and typesetting.</a></h5>
           <div class="post-status">
             <ul>
               <li><i class="flat flaticon-folder"></i> <span><a href="javascript:void(0)">UI Developer</a></span></li>
               <li><i class="flat flaticon-chat"></i> <span>20</span></li>
             </ul>
           </div>
         </div>
         <div class="clearfix"></div>
       </div>
       <div class="item blog_card">
         <div class="post-img"> <img src="{%static 'img/blog-post-2.jpg'%}" alt="Post" />
           <div class="posted_on"> <span class="date">05</span> <span class="month">Sept.</span> </div>
         </div>
         <div class="post-detail">
           <h5> <a href="blog-detail.html">If you are going to use a passage of Lorem Ipsum, you need to be sure.</a></h5>
           <div class="post-status">
             <ul>
               <li><i class="flat flaticon-folder"></i> <span><a href="javascript:void(0)">UI Developer</a></span></li>
               <li><i class="flat flaticon-chat"></i> <span>20</span></li>
             </ul>
           </div>
         </div>
         <div class="clearfix"></div>
       </div>
       <div class="item blog_card">
         <div class="post-img"> <img src="{%static 'img/blog-post-3.jpg'%}" alt="Post" />
           <div class="posted_on"> <span class="date">06</span> <span class="month">Sept.</span> </div>
         </div>
         <div class="post-detail">
           <h5><a href="blog-detail.html">There are many variations of passages of Lorem Ipsum available</a></h5>
           <div class="post-status">
             <ul>
               <li><i class="flat flaticon-folder"></i> <span><a href="javascript:void(0)">UI Developer</a></span></li>
               <li><i class="flat flaticon-chat"></i> <span>20</span></li>
             </ul>
           </div>
         </div>
         <div class="clearfix"></div>
       </div>
        <div class="item blog_card">
         <div class="post-img"> <img src="{%static 'img/blog-post-1.jpg'%}" alt="Post" />
           <div class="posted_on"> <span class="date">07</span> <span class="month">Sept.</span> </div>
         </div>
         <div class="post-detail">
           <h5><a href="blog-detail.html">Standard is simply dummy text of the printing and typesetting.</a></h5>
           <div class="post-status">
             <ul>
               <li><i class="flat flaticon-folder"></i> <span><a href="javascript:void(0)">UI Developer</a></span></li>
               <li><i class="flat flaticon-chat"></i> <span>20</span></li>
             </ul>
           </div>
         </div>
         <div class="clearfix"></div>
       </div>
       <div class="item blog_card">
         <div class="post-img"> <img src="{%static 'img/blog-post-2.jpg'%}" alt="Post" />
           <div class="posted_on"> <span class="date">08</span> <span class="month">Sept.</span> </div>
         </div>
         <div class="post-detail">
           <h5> <a href="blog-detail.html">If you are going to use a passage of Lorem Ipsum, you need to be sure.</a></h5>
           <div class="post-status">
             <ul>
               <li><i class="flat flaticon-folder"></i> <span><a href="javascript:void(0)">UI Developer</a></span></li>
               <li><i class="flat flaticon-chat"></i> <span>20</span></li>
             </ul>
           </div>
         </div>
         <div class="clearfix"></div>
       </div>
       <div class="item blog_card">
         <div class="post-img"> <img src="{%static 'img/blog-post-3.jpg'%}" alt="Post" />
           <div class="posted_on"> <span class="date">09</span> <span class="month">Sept.</span> </div>
         </div>
         <div class="post-detail">
           <h5><a href="blog-detail.html">There are many variations of passages of Lorem Ipsum available</a></h5>
           <div class="post-status">
             <ul>
               <li><i class="flat flaticon-folder"></i> <span><a href="javascript:void(0)">UI Developer</a></span></li>
               <li><i class="flat flaticon-chat"></i> <span>20</span></li>
             </ul>
           </div>
         </div>
         <div class="clearfix"></div>
       </div>
       
       
     </div>
   </div>
 </div>
 <div class="clearfix"></div>
</section>
<!-- ====== Blog End ====== --> 

<!-- ====== Clients Start ====== -->
<section id="client" class="index-2">
 <div class="container">
   <div class="section_heading">
     <h2>Our Clients</h2>
     <div class="separator">
       <ul>
         <li></li>
         <li></li>
         <li></li>
       </ul>
     </div>
   </div>
   <div class="col-lg-12">
     <div class="team-slider owl-six owl-carousel owl-theme">
       <div class="item"> <img src="{%static 'img/client-1.jpg'%}" alt="Client" /> </div>
       <div class="item"> <img src="{%static 'img/client-1.jpg '%}'" alt="Client" /> </div>
       <div class="item"> <img src="{%static 'img/client-2.jpg'%}" alt="Client" /> </div>
       <div class="item"> <img src="{%static 'img/client-3.jpg'%}" alt="Client" /> </div>
       <div class="item"> <img src="{%static 'img/client-4.jpg'%}" alt="Client" /> </div>
       <div class="item"> <img src="{%static 'img/client-5.jpg '%}" alt="Client" /> </div>
       <div class="item"> <img src="{%static 'img/client-6.jpg'%}" alt="Client" /> </div>
     </div>
     <div class="left-tri"></div>
     <div class="right-tri"></div>
   </div>
 </div>
 <div class="clearfix"></div>
 <div class="overlay"></div>
</section>

<!-- ====== Clients End ====== --> 

<!-- ====== Testimonials Start ====== -->

<section id="testimonials" class="gray-bg index-3">
 <div class="container">
   <div class="row row-reverse">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="section_heading">
         <h2>What <span>People Say</span></h2>
         <div class="separator">
           <ul>
             <li></li>
             <li></li>
             <li></li>
           </ul>
         </div>
       </div>
       <div class="content_sec">
         <div class="col-lg-12 col-md-12">
         <div class="testimonials-slider owl-four owl-carousel owl-theme">
           <div class="item">
             <div class="comment-box">
               <div class="comment">
                 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
               </div>
             </div>
             <div class="client_detail">
               <div class="client_dp"> <img src="{%static 'img/client_dp1.jpg'%}" alt="Client DP"/> </div>
               <div class="name_designation">
                 <h5>Tania Andrew</h5>
                 <span>Client</span> </div>
             </div>
           </div>
           <div class="item">
             <div class="comment-box">
               <div class="comment">
                 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
               </div>
             </div>
             <div class="client_detail">
               <div class="client_dp"> <img src="{%static 'img/client_dp2.jpg'%}" alt="Client DP"/> </div>
               <div class="name_designation">
                 <h5>Alec Thompson</h5>
                 <span>Client</span> </div>
             </div>
           </div>
           <div class="item">
             <div class="comment-box">
               <div class="comment">
                 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
               </div>
             </div>
             <div class="client_detail">
               <div class="client_dp"> <img src="img/client_dp3.jpg" alt="Client DP"/> </div>
               <div class="name_designation">
                 <h5>Molly Robinson</h5>
                 <span>Client</span> </div>
             </div>
           </div>
            <div class="item">
             <div class="comment-box">
               <div class="comment">
                 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
               </div>
             </div>
             <div class="client_detail">
               <div class="client_dp"> <img src="img/client_dp1.jpg" alt="Client DP"/> </div>
               <div class="name_designation">
                 <h5>Tania Andrew</h5>
                 <span>Client</span> </div>
             </div>
           </div>
           <div class="item">
             <div class="comment-box">
               <div class="comment">
                 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
               </div>
             </div>
             <div class="client_detail">
               <div class="client_dp"> <img src="img/client_dp2.jpg" alt="Client DP"/> </div>
               <div class="name_designation">
                 <h5>Alec Thompson</h5>
                 <span>Client</span> </div>
             </div>
           </div>
           <div class="item">
             <div class="comment-box">
               <div class="comment">
                 <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
               </div>
             </div>
             <div class="client_detail">
               <div class="client_dp"> <img src="img/client_dp3.jpg" alt="Client DP"/> </div>
               <div class="name_designation">
                 <h5>Molly Robinson</h5>
                 <span>Client</span> </div>
             </div>
           </div>
         </div>
       </div>
       </div>
     </div>
   </div>
 </div>
 <div class="clearfix"></div>
 <div class="overlay"></div>
</section>
<!-- ====== Testimonials End ====== --> 
 <!-- ====== Quick Connect Start ====== --> 
<section id="quick-connect" class="index-3">
 <div class="container">
   <div class="col-lg-12 col-md-12 col-sm-12">
     <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-12">
         <div class="newsletter">
           <div class="section_heading">
             <h4>Subscribe Our Newsletter</h4>
             <div class="separator">
               <ul>
                 <li></li>
                 <li></li>
                 <li></li>
               </ul>
             </div>
             <div class="heading_content"> Provide your email address and stay informed with our latest resources </div>
           </div>
           <form>
             <input type="text" placeholder="Enter your Email Id">
             <button type="submit">Subscribe</button>
           </form>
         </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12">
         <div class="quick-info">
           <div class="section_heading">
             <h4>For Quick Info</h4>
             <div class="separator">
               <ul>
                 <li></li>
                 <li></li>
                 <li></li>
               </ul>
             </div>
           </div>
           <div class="content">
             <div class="sub-heading">Call Us On</div>
             <div class="contact-no">0123-456-789</div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>
<!-- ====== Quick Connect End ====== --> 

</div>
{%include 'website/include/footer.html'%}