{%load static %} {%include 'website/include/layout.html'%}

{%include 'website/include/header.html'%}
<div class="wraper"> 
 <!-- ====== Banner Start ====== -->
 <section id="inner-banner">
    <div class="container">
      <div class="row">
        <div class="inner-heading">
          <h2>Pricing and packages</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Pricing and packages</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Banner End ====== --> 
  
  <!-- ====== Pricing Start ====== -->
  
  <section id="pricing" class="index-2">
      <div class="container">
        <div class="section_heading">
          <h2>Our <span>Pricing</span></h2>
          <div class="separator">
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="heading_content">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </div>
        </div>
        {% for pricing in data.items %}
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 content_sec">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 price_card">
              <div class="plan-title">
                <h4>{{pricing.title}}</h4>
                <div class="separator">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
              <div class="price_amount"> From<strong>{{pricing.price}}</strong>/mo </div>
              <div class="features">
                <ul>
                  
                  <li class="deactive">{{pricing.quantity_purchased}}</li>
                  <li class="deactive">{{pricing.description}}</li>
                </ul>
              </div>
              <div class="purchase"> <a class="purchase_now" href="javascript:void(0)" title="Purchase Now">Purchase Now</a> </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 price_card ultimate">
              <div class="plan-title">
                <h4>{{pricing.title}}</h4>
                <div class="separator">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
              <div class="price_amount"> From<strong>{{pricing.price}}</strong>/mo </div>
              <div class="features">
                <ul>
                 
                  <li>{{pricing.quantity_purchased}}</li>
                  <li>{{pricing.description}}</li>
                </ul>
              </div>
              <div class="purchase"> <a class="purchase_now" href="javascript:void(0)" title="Purchase Now">Purchase Now</a> </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 price_card">
              <div class="plan-title">
                <h4>{{pricing.title}}</h4>
                <div class="separator">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
              <div class="price_amount"> From<strong>{{pricing.price}}</strong>/mo </div>
              <div class="features">
                <ul>
                    <li>{{pricing.quantity_purchased}}</li>
                    <li>{{pricing.description}}</li>
                </ul>
              </div>
              <div class="purchase"> <a class="purchase_now" href="javascript:void(0)" title="Purchase Now">Purchase Now</a> </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="clearfix"></div>
    </section>
    
    <!-- ====== Pricing End ====== -->
  
<!-- ====== Counter Start ====== -->
<section id="counter">
  <div class="container">
    <div class="col-lg-12">
      <div class="row">
        <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="count_icon"> <i class="flat flaticon-happiness"></i> </div>
          <div class="counter_content">
            <h2><span class="counter">200</span>+</h2>
            <div class="title">Happy Client</div>
          </div>
        </div>
        <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="count_icon"> <i class="flat flaticon-coffee-cup"></i> </div>
          <div class="counter_content">
            <h2><span class="counter">750</span>+</h2>
            <div class="title">Cups of Coffee</div>
          </div>
        </div>
        <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="count_icon"> <i class="flat flaticon-like"></i> </div>
          <div class="counter_content">
            <h2><span class="counter">1800</span>+</h2>
            <div class="title">Projects Done</div>
          </div>
        </div>
        <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="count_icon"> <i class="flat flaticon-building"></i> </div>
          <div class="counter_content">
            <h2><span class="counter">15</span></h2>
            <div class="title">Office Locations</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>
<!-- ====== Counter End ====== --> 
</div>
</div>
{%include 'website/include/footer.html'%}