<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block title %}{{title}}{% endblock %}
{% block content %}
<h1 class="p-3 mb-2 bg-info text-white text-center">Career Detail</h1>
    <div class="container">
     
   <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for item in snippet%}
       <tr>
        
        <td><img src="{{ item.image.url }}" height="50px" width="50px" /></td>
        <td>{{item.title}}</td>
        <td>{{item.short_description}}</td>
        <td>{{item.long_description}}</td>

      </tr>
    {%endfor%}
    </tbody>
  </table>
      </div>
    </main>
  </div>
</div>


{% endblock content %}
